/* Custom CSS Styles */

/* GLOBAL STYLES */

#twitter-button {
	position: absolute;
	top: 20px;
	right: 10px;
}

.dininghall {
	text-align: center;
}

#footer {
	text-align: center;
	color: #6f6f6f;
	font-size: small;
}

#footer a {
	border-bottom: dashed 1px;
	color: #6f6f6f;
	font-size: small;
}

#footer a:hover{
	color: #222;
}

.next-meal {
	text-align: center;
	font-weight: lighter;
	font-size:24px;
	padding:5px 0;
}