<!-- Dinner -->
<div class="row">
	<div class="large-12 columns">
		<h3 style="text-align: center;">Dinner</h3>
	</div>
	<div class="large-4 columns">
		<h4 class="subheader">Ross</h4>
		<hr>
		<p ng-hide="menuData.root.menu.0.Dinner.item_asArray.length > 0">No Data</p>
		<ul class="no-bullet">
			<li ng-repeat="item in menuData.root.menu.0.Dinner.item_asArray">
				{{item}}
			</li>
		</ul>
	</div>
	<div class="large-4 columns">
		<h4 class="subheader">Proctor</h4>
		<hr>
		<p ng-hide="menuData.root.menu.1.Dinner.item_asArray.length > 0">No Data</p>
		<ul class="no-bullet">
			<li ng-repeat="item in menuData.root.menu.1.Dinner.item_asArray">
				{{item}}
			</li>
		</ul>
	</div>
	<div class="large-4 columns">
		<h4 class="subheader">Atwater</h4>
		<hr>
		<p ng-hide="menuData.root.menu.2.Dinner.item_asArray.length > 0">No Data</p>
		<ul class="no-bullet">
			<li ng-repeat="item in menuData.root.menu.2.Dinner.item_asArray">
				{{item}}
			</li>
		</ul>
	</div>
</div>